@media screen and (max-width: 699px) {
	.header-all {
		font-size: 2.5em;
		font-weight: 600;
	}
}

@media screen and (min-width: 699px) and (max-width: 1500px) {
	.header-all {
		font-size: 3em;
		font-weight: 600;
	}
}

@media screen and (min-width: 1000px) {
	.header-all {
		font-size: 4em;
		font-weight: 600;
	}
}
